.header {
    height: 120px;
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    margin-left: -10px;
    margin-right: 10px;
}

.header__navbar-list {
    padding-left: 0;
    list-style: none;
    margin-top: 4px;
    margin-right: 10px;
    display: flex;
}

.header--navbar--img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    margin-top: 0px;
    margin-right: 10px;
}

.header__navbar-item {
    margin: 0px 9.5px;
    position: relative;
    min-height: 26px;
}

.header__navbar-item--has-notify:hover .header__notify {
    display: block;
    z-index: 10;
}

.header__navbar-item--has-notify:hover .header__notify-right {
    display: block;
    z-index: 10;
}

.header__navbar-item--has-notify:hover .header__notify-information {
    display: block;
    z-index: 10;
}

.header__navbar-item:hover .header__qr {
    display: block;
    z-index: 10;
}

.search-cartt:hover .search-cart {
    display: block;
}


.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.35rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 400;

}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-item-link {
    display: inline-flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    height: 16px;
    border-left: 1px solid #fb9086;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar--icon {
    font-size: 1.4rem;
    margin: -35px 5px;
}

.header__navbar-item .header__navbar-item-right {
    margin-top: -5px;
}

.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}

.header__qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.5s;
}

.header__qr::before {
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-link:nth-child(1) {
    margin-left: 11px;
}

.header__qr-link:nth-child(2) {
    margin-right: 11px;
}

.header__qr-download-img {
    height: 15px;
}

.header__notify {
    position: absolute;
    top: 118%;
    width: 404%;
    background-color: var(--white-color);
    right: 0;
    border: 1px solid #d3d3d3;
    transform-origin: calc(100% - 25px) top;
    animation: headerNotifyGrowth ease-in 0.2s;
    animation-timing-function: linear;
    will-change: opacity, transform;
    border-radius: 3px;
    display: none;
}

.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -11px;
    width: 80px;
    height: 20px;
}

.header__notify::before {
    content: "";
    border: 12.8px solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 26.5px;
    top: -26px;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
}

.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;

}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item {
    display: flex;
}

.header__notify-item:hover {
    background-color: #f7f7f7;
}

.header__notify-item--viewed {
    background-color: rgba(238, 75, 43, 0.08);
}

.header__notify-link {
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
    height: auto;
}

.header__notify-img {
    width: 48px;
    height: 48px;
    object-fit: cover;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: 400;
}

.header__notify-description {
    display: block;
    font-size: 1.2rem;
    color: #756F6E;
    line-height: 1.6rem;
    object-fit: contain;
}

.header__notify-footer {
    text-align: center;
    padding: 10px 0px;
}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    padding: 16px 16px;
}

.header__notify-right {
    position: absolute;
    top: 118%;
    width: 186%;
    background-color: var(--white-color);
    right: 0;
    border: 1px solid #d3d3d3;
    transform-origin: calc(100% - 25px) top;
    animation: headerNotifyGrowth ease-in 0.2s;
    animation-timing-function: linear;
    will-change: opacity, transform;
    border-radius: 3px;
    display: none;
}

.header__notify-right::before {
    content: "";
    border: 12.8px solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 35px;
    top: -26px;
}

.header__notify-right::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -11px;
    width: 100px;
    height: 20px;
}

.header__notify-right-link {
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
    height: auto;
    color: var(--black-color);
}

.header__notify-right-link:hover {
    color: var(--primary-color);
}

.header__notify-right-item {
    display: flex;
}

.header__notify-information {
    position: absolute;
    top: 118%;
    width: 249%;
    background-color: var(--white-color);
    right: 0;
    border: 1px solid #d3d3d3;
    transform-origin: calc(100% - 25px) top;
    animation: headerNotifyGrowth ease-in 0.2s;
    animation-timing-function: linear;
    will-change: opacity, transform;
    border-radius: 3px;
    display: none;
}

.header__notify-information::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -11px;
    width: 50px;
    height: 12px;
}

.header__notify-information::before {
    content: "";
    border: 12.8px solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 6px;
    top: -26px;
}

.header__notify-information-item {
    display: flex;
}

.header__notify-information-item:hover {
    background-color: #f7f7f7;
}

.header__notify-information-link {
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
    height: auto;
    color: var(--black-color);
}

.header__notify-information-link:hover {
    color: #26AA99;
}

.header--shopee {
    display: flex;
    width: 180px;
    height: 75px;
}

.search {
    display: flex;
    margin-left: -10px;
}

.search-input {
    display: flex;
    position: relative;
    margin-left: 10px;

}

.search-bar {
    flex: 1;
    width: 100%;
}

.search-bar>input {
    width: 840px;
    height: 42px;
    margin: 10px 10px 0 10px;
    border-radius: 2px;
    border-color: transparent;
    padding-left: 10px;
    font-size: 1.5rem;
    font-weight: 300;
}

.search-button {
    position: absolute;
    right: 13px;
    top: 13px;
}

.search-button-btn {
    border-color: transparent;
    height: 35px;
    width: 60px;
    background-color: #FC5D32;
    border-radius: 2px;
    cursor: pointer;
}

.search-button-icon {
    color: white;
}

.search-rcm {
    display: flex;
    width: 100%;
    margin: 0;
}

.search-rcm-list {
    margin: 8px 0px 0px 12px;
    padding: 0;
    padding-bottom: 4px;
}

.search-rcm-item:first-child {
    margin-left: 0px;
}

.search-rcm-item {
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.1rem;
    margin-left: 12px;
}


.search-bar-input:focus~.search-bar-history {
    display: block;
}

.search-bar-history {
    position: absolute;
    top: 73%;
    left: 0;
    width: calc(100% - 100px);
    background-color: var(--white-color);
    margin-left: 10px;
    border-radius: 2px;
    box-shadow: 0 0 3px #666;
    display: none;
    overflow: hidden;
}

.search-bar-history-list {
    padding-left: 0;
    list-style: none;
    margin: 0;
}

.search-bar-history-item {
    height: 40px;
    padding-top: 12px;
    cursor: pointer;
    padding-left: 10px;
}

.search-bar-history-item:hover {
    background-color: #fafafa;
}

.search-bar-history-item a {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--text-color);
}

.search-cart {
    position: absolute;
    top: 60%;
    width: 388px;
    background-color: var(--white-color);
    right: -29px;
    border: 1px solid #d3d3d3;
    transform-origin: calc(100% - 25px) top;
    animation: headerNotifyGrowth ease-in 0.2s;
    animation-timing-function: linear;
    will-change: opacity, transform;
    border-radius: 3px;
    display: none;
}

.search-cartt {
    position: relative;
    top: 22px;
    left: 55px;
    display: flex;
    height: 30px;
}

.search-cart-notify {
    position: absolute;
    top: -5px;
    left: 15px;
}

.search-cart-notify-item {
    border-color: var(--primary-color);
    color: var(--primary-color);
    width: 24px;
    border-radius: 42%;
    height: 19px;
    background-color: white;
    cursor: pointer;
    font-size: 1.4rem;
}

.search-cart-icon {
    font-size: 2.4rem;
    color: var(--white-color);
    margin-top: 6px;
}

.search-cart-description {
    margin: 0;
    cursor: text;
}

.search-cart-list {
    margin: -5px 0px;
}

.search-cart-item {
    display: flex;
}


.search-cart-link {
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
    height: auto;
    cursor: default;
}

.search-cart-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;

}

.search-cart-list {
    padding-left: 0;
}


.search-cart-img {
    width: 48px;
    height: 48px;
    object-fit: cover;
}

.search-cart-info {
    margin-left: 12px;
    width: 100%;
}

.search-cart-info>span {
    cursor: text;
}

.search-cart-name {
    display: flex;
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: 400;
    justify-content: space-between;
    margin-right: 5px;
    cursor: text;
}

.search-cart-name:nth-child(2) {
    color: var(--primary-color);
}

.search-cart-description {
    display: block;
    font-size: 1.2rem;
    color: #756F6E;
    line-height: 1.6rem;
    object-fit: contain;
}

.search-cart-footer {
    text-align: right;
    margin: 15px 15px 20px;
    font-size: 1.4rem;
}

.search-cart-footer-btn {
    padding: 8px 26px;
    background-color: var(--primary-color);
    text-decoration: none;
    border-radius: 2px;
    color: var(--white-color);
}

.search-cart::before {
    content: "";
    border: 12.8px solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 26.5px;
    top: -26px;
    z-index: 2;
}

.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.container-grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;

}

.ads-8 {
    padding-left: 12px;
    padding-right: 2px;
    width: 66.667%;
    margin-top: 30px;
}

.ads-8-img {}

.owl-stage-outer {
    border-radius: 3px;
    height: 242px;
}

.owl-dots {
    left: 32%;
    display: flex;
    position: absolute;
    bottom: 12px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: var(--primary-color) !important;
}

.ads-4 {
    padding-left: 3px;
    padding-right: 12px;
    width: 33.334%;
    margin-top: 30px;
}


.ads-4-img {
    width: 100%;
    border-radius: 3px;
}